/*--
/*  08. Footer CSS
/*----------------------------------------*/
.footer-section {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
}

// BRAND
.brand-container{
    
    .single-brand{
        height: 100px;
        overflow: hidden;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}